<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Only CSS3
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu:500")
	body
		section.overlay
			.header
				.titlo
					.logo
					h1 Onli CSS3
				.bara
				a(href="contact.html")
					.menu
						p.men CONTACT
				a(href="about.html")
					.menu
						p.men ABOUT
				a(href="services.html")
					.menu
						p.men SERVICES
				a(href="../index.html")
					.menu
						p.men HOME
			.content
				.first
				.secound
				.third
			.footer
				h6 Edited by Alexander.