<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Only CSS3
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu:500")
	body
		section.overlay
			.header
				.titlo
					.logo
					h1 Onli CSS3
				.bara
				a(href="html/contact.html")
					.menu
						p.men CONTACT
				a(href="html/about.html")
					.menu
						p.men ABOUT
				a(href="html/services.html")
					.menu
						p.men SERVICES
				a(href="index.html")
					.menu
						p.men HOME
			.content
				.first
					.imag
						img#profile(src="img/image.jpg")
					.utilities
						a(href="#")
							.indiv
								img#minimenu(src="img/mesages.png")
						a(href="#")
							.indiv
								img#minimenu(src="img/friends.png")
						a(href="#")
							.indiv
								img#minimenu(src="img/photo.png")
						a(href="#")
							.indiv
								img#minimenu(src="img/mp3.png")
						a(href="#")
							.indiv
								img#minimenu(src="img/exit.png")
					.sidebar
						h3 Movies
						.movies
							img#movies(src="")
						.movies
							img#movies(src="")
						.movies
							img#movies(src="")
						.movies
							img#movies(src="")
						h3#msic Music
						.mp3i
							img#mp3i(src="")
						.mp3i
							img#mp3i(src="")
						.mp3i
							img#mp3i(src="")
						.mp3i
							img#mp3i(src="")
					.centru
						.minimg
						p#text1. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				.secound
				.third
			.footer
				h6 Edited by Alexander.